<div class="d-flex" style="margin-left: 18px;">
  <button class="btn align-items-center" [routerLink]="['/']">Home</button>
</div>
<div class="jumbotron">
  <p>Final</p>
  <p class="lead">Profesor: Damián Rosso</p>
  <p class="lead">Alumno: Emilio Martinez</p>
  <hr class="my-4">
</div>

<div class="card text-center">
  <div class="card-header">
    Los Caballeros del Zodiaco
  </div>
  <div class="card-body">
    <h5 class="card-title">Lista de Caballeros del Zodiaco Agregados</h5>
    <p class="card-text">No te pierdas la lista de todos los guerreros que tenemos hasta el momento:</p>
    <button class="btn btn-primary align-items-center" [routerLink]="['/caballeros']">Ver Listado</button>
  </div>
  <!-- <div class="card-footer text-muted">
  
  </div> -->
</div>
<br>
<div class="card text-center">
  <div class="card-header">
    Agrega nuevos caballeros
  </div>
  <div class="card-body">
    <h5 class="card-title">Ingresa en el formulario para dar de alta mas caballeros</h5>
    <p class="card-text"></p>
    <button class="btn btn-primary align-items-center" [routerLink]="['/caballeros-crear']">Ingresar</button>
  </div>
  <!-- <div class="card-footer text-muted">
  
  </div> -->
</div>
<br>
<div class="card text-center">
  <div class="card-header">
    Busqueda avanzada
  </div>
  <div class="card-body">
    <h5 class="card-title">Ingresa en esta sección para realizar una busqueda avanzada</h5>
    <p class="card-text"></p>
    <button class="btn btn-primary align-items-center" [routerLink]="['/caballeros-busqueda']">Ingresar</button>
  </div>
  <!-- <div class="card-footer text-muted">
  
  </div> -->
</div>