<div class="d-flex" style="margin-left: 18px;">
    <button class="btn align-items-center" [routerLink]="['/']">Home</button>
    <p style="margin-top: 15px;">></p>
    <button class="btn align-items-center" [routerLink]="['/caballeros']">Caballeros</button>
    <p style="margin-top: 15px;">></p>
    <button *ngIf="caballero.id!==-1" class="btn align-items-center" disabled>{{caballero.name}} de {{caballero.constellation}}</button>
    <button *ngIf="notfound" class="btn align-items-center" disabled>{{notfound}}</button>
    <button *ngIf="gone" class="btn align-items-center" disabled>{{gone}}</button>


</div>

<div class="jumbotron">
    <p *ngIf="caballero.id!==-1">{{caballero.name}} de {{caballero.constellation}}</p>
    <p *ngIf="notfound">{{notfound}}</p>
    <p *ngIf="eliminado">{{eliminado}}</p>

</div>
<div *ngIf="caballero.id!==-1">
    <div class="card text-center">
        <div class="card-header">
        Detalle:
        </div>
        <div class="card-body">
        <img class="card-img-top" src={{caballero.thumbnail}} alt="Card image cap" style="max-height: 150px;width: auto;">
        <div class="">

        </div>
        <br>
        <p>Tipo de Cabellero: {{caballero.type}}</p>
        <p>Constelación: {{caballero.constellation}}</p>
        <p>Sagas principales: {{caballero.saga}}</p>
        <p>Armaduras que ha portado: {{caballero.armor}}</p>
        <button  class="btn btn-danger" (click)="BorrarDetail(caballero.id)">borrar</button>
        </div>
        <!-- <div class="card-footer text-muted">
        2 days ago
        </div> -->
    </div>
</div>

<div *ngIf="caballero.id!==-1">
    <div class="card text-center">
        <div class="card-header">
            <button class="btn btn-primary" (click)="Show()">Editar Caballero</button>
        </div>
        <div class="card-body" *ngIf="show">
            <form [formGroup]="formCaballero" (ngSubmit)="EditarCaballero()" autocomplete="off">
                <div class="form-group row">
                    <label for="id" class="col-sm-2 col-form-label">ID:</label>
                    <div class="col-sm-10">
                      <input type="number" readonly  class="form-control" id="id" placeholder="Seiya" formControlName="name" autocomplete="off" required value={{caballero.id}}>
                    </div>
                  </div>
                <div class="form-group row">
                  <label for="name" class="col-sm-2 col-form-label">Nombre:</label>
                  <div class="col-sm-10">
                    <input type="text"  class="form-control" id="name" placeholder="Seiya" formControlName="name" autocomplete="off" required value={{caballero.name}}>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="type" class="col-sm-2 col-form-label">Tipo:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="type" placeholder="Bronce" formControlName="type" required value={{caballero.type}}> 
                  </div>
                </div>
                <div class="form-group row">
                    <label for="constellation" class="col-sm-2 col-form-label">Constelación:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="constellation" placeholder="Pegaso" formControlName="constellation" required value={{caballero.constellation}}>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="saga" class="col-sm-2 col-form-label">Saga:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="saga" placeholder="12 casas" formControlName="saga" required value={{caballero.saga}}>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="armor" class="col-sm-2 col-form-label">Armadura:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="armor" placeholder="Armadura de Pegaso" formControlName="armor" required value={{caballero.armor}}>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="thumbnail" class="col-sm-2 col-form-label">URL imagen:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="thumbnail" placeholder="https://loscaballerosdelzodiaco.000webhostapp.com/imagenes/seiya3.png" 
                      formControlName="thumbnail" required value={{caballero.thumbnail}}>
                    </div>
                </div>
                
                <button type="submit" [disabled]="!formCaballero.valid" class="btn btn-success">Guardar</button>
                
            </form>

        </div>
    </div>
</div>